#side {
  background-color: #1f384c;
  border-top-right-radius: 58px;
  height: 100;

}
.item {
  display: flex;
  align-items: center;
  color: white;
  padding: 5px 25px;
}
.bg-active {
  background-color: rgba(0, 146, 71, 0.1) !important;
}
