<!-- logout-confirmation.component.html -->

<!-- <div class="overlay"></div> -->

<section class="logout-section">
  <div class="confirmation-message text-center">
    <i class="fas fa-sign-out-alt fa-2x mr-2"></i>
    <p class="h2 py-3">Stay with us or logout !</p>
  </div>

  <div class="buttons d-flex justify-content-center mt-4">
    <button class="btn btn-success me-2" (click)="cancel()">Cancel</button>
    <button class="btn btn-danger" (click)="confirm()">Logout</button>
  </div>
</section>
