<section class="bg d-flex align-items-center">
  <div class="container m-auto">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card bg-white p-5">
          <div class="d-flex justify-content-center">
            <img
              src="../../../assets/images/logo.svg"
              alt=""
              srcset=""
              class="logo"
            />
          </div>

          <div>
            <h1>Log in</h1>

            <p class="text-muted">Welcome Back! Please enter your details</p>
          </div>

          <div class="form">
            <form [formGroup]="resetForm">
              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text py-2" id="addon-wrapping"
                  ><i class="fa-solid fa-mobile-screen"></i
                ></span>
                <input
                  type="email"
                  class="form-control py-2"
                  formControlName="email"
                  placeholder="Enter Your Email"
                  aria-label="email"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div
                class="alert alert-danger p-2 my-2"
                *ngIf="
                  resetForm.get('email')?.touched &&
                  resetForm.get('email')?.status == 'INVALID'
                "
              >
                <p *ngIf="resetForm.get('email')?.getError('required')">
                  Email is required
                </p>
                <p *ngIf="resetForm.get('email')?.getError('email')">
                  test@gmail.com
                </p>
              </div>
              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text py-2" id="addon-wrapping"
                  ><i class="fa-solid fa-comment-dots"></i></span>
                <input
                  type="text"
                  class="form-control py-2"
                  formControlName="seed"
                  placeholder="Enter Your OTP"
                  aria-label="seed"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div
                class="alert alert-danger p-2 my-2"
                *ngIf="
                  resetForm.get('seed')?.touched &&
                  resetForm.get('seed')?.status == 'INVALID'
                "
              >
                <p *ngIf="resetForm.get('seed')?.getError('required')">
                  OTP is required
                </p>
              </div>

              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text py-2" id="addon-wrapping">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  class="form-control py-2"
                  formControlName="password"
                  placeholder="Password"
                  aria-label="password"
                  aria-describedby="addon-wrapping"
                />
                <span
                  class="input-group-text"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye': !showPassword,
                      'fa-eye-slash': showPassword
                    }"
                    (click)="togglePasswordVisibility()"
                  ></i>
                </span>
              </div>
              <div
                class="alert alert-danger p-2 my-2"
                *ngIf="
                  resetForm.get('password')?.touched &&
                  resetForm.get('password')?.status == 'INVALID'
                "
              >
                <p *ngIf="resetForm.get('password')?.getError('required')">
                  password is required
                </p>
                <p *ngIf="resetForm.get('password')?.getError('pattern')">
                  Password must contain 1 uppercase char at least and special
                  char
                </p>
              </div>

              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text py-2" id="addon-wrapping">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  class="form-control py-2"
                  formControlName="confirmPassword"
                  placeholder="confirmPassword"
                  aria-label="password"
                  aria-describedby="addon-wrapping"
                />
                </div>

              <div
                class="alert alert-danger p-2 my-2"
                *ngIf="
                  resetForm.get('confirmPassword')?.touched &&
                  resetForm.get('confirmPassword')?.status == 'INVALID'
                "
              >
                <p
                  *ngIf="resetForm.get('confirmPassword')?.getError('required')"
                >
                  password is required
                </p>
                <p
                  *ngIf="resetForm.get('confirmPassword')?.getError('pattern')"
                >
                  Password must contain 1 uppercase char at least and special
                  char
                </p>
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn primary p-2 w-100 text-center"
                  (click)="onSubmit(resetForm)"
                >
                  Log in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
