<!-- <section class=" container"> -->
<div class="p-5 py-5 card-dialog text-center">
  <h3>Request Reset password</h3>
  <p class="text-muted">Please Enter Your Email And Check Your Inbox</p>
  <form [formGroup]="requestEmail" class="ms-5">
    <div class="input-group flex-nowrap mb-3 w-75">
      <span class="input-group-text p-2" id="addon-wrapping"
        ><i class="fa-solid fa-mobile-screen"></i
      ></span>
      <input
        type="email"
        class="form-control py-2"
        formControlName="email"
        [(ngModel)]="email"
        placeholder="Enter Your Email"
        aria-label="email"
        aria-describedby="addon-wrapping"
      />
    </div>
    <button [mat-dialog-close]="email" class="form-control primary w-75">
      Send
    </button>
  </form>
   <div class="text-end">
      <a (click)="onNoClick()" routerLink="/auth/reset-password" class="text-decoration-none text-secondary">Have Code?</a>
    </div>
  </div>   <!-- </section> -->
<!-- </div> -->
